@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, to about page</h1>
    <p>This web application is based on E-Commerce Application for ordering Dairy Products</p>
</div>
