@page
@model IndexModel
@{
    ViewData["Title"] = "About page";
}
<h1 class="display-4">This is About page...</h1>
 <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact Us</a>
<h1 >This</h1>
<h1 >This</h1>